<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logistics | Invoice</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="../../Utilities/js/auth.js"></script>
    <link rel="stylesheet" href="../../Utilities/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Utilities/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../Utilities/css/invoice.css">
    <link rel="stylesheet" href="../../Utilities/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="../../Utilities/css/common.css">
</head>
<body>
    <section>
        <div class="company_info">
            <img id="logo" class="brand-image img-circle elevation-3" />
            <h2 id="company_name"></h2>
            <h4 id="address"></h4>
        </div>
    </section>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <hr class="line" />
      </div>
      <div class="col-1"></div>
    </div>
    <section>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <b>ကုန်သည်အမည် :</b><span id="customerName"></span>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
          <b>မြို့အမည်:</b> <span id="city"></span>

        </div>
        <div class="col-2"></div>
        <div class="col-3">
          <b>ပစ္စည်း လက်ခံ နံပါတ်:</b><span id="orderNo"></span>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <b>ကုန်ပို့သူအမည်:</b><span id="senderName"></span>

        </div>
        <div class="col-2"></div>
        <div class="col-2">
          <b>နေ့စွဲ :</b><span id="date"></span>
        </div>
        <div class="col-1"></div>
      </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">

            <div id="top-10">
                <table id="tbl_goodreceipt_invoice" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>စဥ်</th>
                            <th>ပစ္စည်းအမည်</th>
                            <th>အရေ အတွက်</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_invoice_container"></tbody>
                 </table>
            </div>
          </div>
        </div>

        <div id="remark">
            <p>Remark: <b id="cashRemark"></b> </p>
            <p>ကျေးဇူးတင်ပါသည်။</p>
            <p><a href="https://www.talyou.com/logistics/Components/Other/rules.html">စည်းကမ်းချက်များဖတ်ရန်</a></p>
        </div>

        <br/>
        <div class="align-center">
            <p>" အချိန်နဲ့အညီ ၊ လုံခြုံစိတ်ချ ၊ ထိရောက်မြန်ဆန် ၊ တာဝန်ယူ မေ့မရတဲ့ဝန်ဆောင်မှု။ "</p>

            <button class="btn  btn-success noprint" onclick="javascript: window.print();">
              Print
            </button>
        </div>
    </section>
    <!-- jQuery -->
    <script src="../../Utilities/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../../Utilities/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4-->
    <script src="../../Utilities/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Utilities/js/common.js"></script>

    <script>
        getCompanyInfo();
        getGoodreceiptInvoiceDetails();
        
    </script>
</body>
</html>
