body {
    font-family: 'Padauk' !important;
}

table th, td {
    white-space: nowrap;
}

#company_name, #user_name {
    color: #17a2b8;
    font-weight: 600 !important;
}
.btn-edit {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
    .btn-edit:hover {
        background-color: #1b92a4 !important;
        border-color: #1b92a4 !important;
    }
.btn-delete {
    background-color: #fa3d45 !important;
    border-color: #fa3d45 !important;
    color: black !important;
}
.btn-delete:hover {
    background-color: #f4111a !important;
    border-color: #f4111a !important;
    color: black !important;
}
.btn-order {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

    .btn-order:hover {
        background-color: #1b92a4 !important;
        border-color: #137281 !important;
    }
.btn-product {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    color: black !important;
}
    .btn-product:hover {
        background-color: #1b92a4 !important;
        border-color: #1b92a4 !important;
    }

.container{
  padding: 15px 0px 15px 0px;

}
.custom-input{
  display: flex;
}
.content{
  clear:both;
}
.table_css{
  margin-top:20px;overflow-x:auto;
}
 h4{
  text-align:center;
}
.date_range_filter{
  margin : 10px;
}
.company_info h2,.company_info span{
  text-align: center;
}
.hr{
  border-bottom: 5px double grey;
}
.ui-thead{
  background-color: #B2EBF2;
}
.border-tr,table tr{
  border-bottom: 1px solid #CFD8DC;

}
.border-tr td,table tr{
  text-align: center;
}
.tr-class th{
  border-top: none;
  text-align: center;
  }

.company_info h2,.company_info h4{
  text-align:center;
  margin:3px;
  font-size: 18px;
  font-weight: bold;

}
.company_info h6{
  text-align:center;
  margin:3px;
  font-size: 15px;
}
.company_info img{
    display: block;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}
.table_price{
  float:right;
}
.table_price td,.table_price input,#print_table td{
  text-align: right;
}
#print_table,#print_button{
  display: none;
}
#print_table{
  text-align: center;
}
.btn-space {
    margin-right: 5px;
}
.page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
#logo{
  opacity: .8;
  width:50;
}
.button-css{
  text-align: center;
}
.custom-header{
  background: white;
  padding: 15px 0px 5px 0px;
}
.custom-header h2{
  text-transform: uppercase;
  font-size: 25px;
  color: #333;
}
.btn-register{
  width: 200px;
}
#text-register{
  font-weight: bold;
  text-decoration: none;
}
.custom-card{
  margin-top: 10px;
}
#result{
  color: red;
}
.orderQty{
  width:50%;
  border:none;
  background: white;
  color: blue;
}
.btn-left{
  float: left;
}

@media print {
    #print-header {
        display: block;
    }

    .no-print {
        visibility: hidden;
    }
}

.select2-results .select2-highlighted {
    background: #17a2b8 !important;
    color: #fff;
}

#print-header {
    display: none;
}

.align-center {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}
.hide{
    display:none;
}
.padding-top {
    padding-top: 20px;
}

#tbl_rule td {
   white-space:pre-line;
}
#matchPwd{
    color:red;
}
.align-right{
    text-align:right;
}