body {
    font-family: 'Padauk' !important;
}

table th, td {
    white-space: nowrap;
}

#company_name, #user_name {
    color: #17a2b8;
    font-weight: 600 !important;
}
.btn-edit {
    background-color: #78e84a !important;
    border-color: #78e84a !important;
}.btn-edit:hover {
    background-color: #64c93a !important;
    border-color: #64c93a !important;
 }
.btn-delete {
    background-color: #fa3d45 !important;
    border-color: #fa3d45 !important;
    color: black !important;
}
.btn-delete:hover {
    background-color: #f4111a !important;
    border-color: #f4111a !important;
    color: black !important;
}
.btn-print {
    background-color: #3d8ee6 !important;
    border-color: #3d8ee6 !important;
    color: black !important;
}

.btn-print:hover {
    background-color: #2a7fdb !important;
    border-color: #2a7fdb !important;
    color: black !important;
}
.btn-order {
    background-color: #38a9ea !important;
    border-color: #38a9ea !important;
    color: black !important;
}

.btn-order:hover {
    background-color: #5498e1 !important;
    border-color: #5498e1 !important;
    color: black !important;
}
.btn-product {
    background-color: #82d995 !important;
    border-color: #82d995 !important;
    color: black !important;
}

.btn-product:hover {
    background-color: #3bd35e !important;
    border-color: #3bd35e !important;
    color: black !important;
}

.rowClass{
  padding:100px;
}
.radio{
  text-align: center;
}
.container{
  padding: 15px 0px 15px 0px;
}
.custom-input{
  display: flex;
}
.content{
  clear:both;
}
.table_css{
  margin-top:20px;overflow-x:auto;
}
.table_css h4{
  text-align:center;
}
.date_range_filter{
  margin : 10px;
}
.company_info h2,span{
  text-align: center;
}
.hr{
  border-bottom: 5px double grey;
}
.ui-thead{
  background-color: #B2EBF2;
}
.border-tr,table tr{
  border-bottom: 1px solid #CFD8DC;

}
.border-tr td,table tr{
  text-align: center;
}
.tr-class th{
  border-top: none;
  text-align: center;
  }
.header-card{
  background-color: #E1F5FE;
}
.custom-class{
  background-color: #ECEFF1;
}
.btn-login{
  background-color: #B2EBF2;
}
.tabcontent {
  display: none;

}
.icon{
  color:#2196f3;
}
.company_info h2,h4{
  text-align:center;
  margin:3px;
  font-size: 18px;
  font-weight: bold;
}
.company_info h6{
  text-align:center;
  margin:3px;
  font-size: 15px;
}
.table_price{
  float:right;
}
.table_price td,input{
  text-align: right;
}
