@media print {
    .noprint {
        visibility: hidden;
    }
}

body {
    padding-left: 10px;
    padding-right: 10px;
}


hr.n1 {
    border-bottom: 5px double grey;
}
h6, table th, td {
    text-align: center;
}
table th {
    background-color: lightgreen;
}
img {
    width: 80px;
    height: 80px;
}
hr.line {
    border-bottom: 5px double grey;
}
#remark {
    text-align: center;
}
#top-10{
    padding-top:10px;
}
